﻿@model Nop.Admin.Models.Project.ProjectModel
@{
    ViewBag.Title = "Create";
}

<div>
    <form method="post">
        @Html.AntiForgeryToken()
        <div>

            <label>Name :</label>
            <input type="text" @Html.NopEditorFor(p => p.Name) />
            <br />
            <br />
        </div>
        <div>
            <label>Short Description :</label>
            <input type="text" @Html.NopEditorFor(p => p.ShortDescription) />
            <br />
            <br />
        </div>
        <div>
            <label>Full Description :</label>
            <input @Html.NopEditorFor(p => p.FullDescription) />
        </div>
        <br />
        <br />
        <div>
            <label>Is Published ?</label>
            <input @Html.NopEditorFor(p => p.Published) />
        </div>
        <br />
        <br />


        <input class="btn-success" type="submit" value="Create" />
    </form>
</div>


