﻿@model Nop.Admin.Models.Project.ProjectModel
@{
    ViewBag.Title = "Edit";
}


<div>
    <form action="Edit.cshtml" method="post">
        @Html.AntiForgeryToken()
        <div>
            <input type="hidden"@Html.HiddenFor(m => m.Id)/>
            <label>Name :</label>
            <input type="text" @Html.NopEditorFor(p => p.Name)/>
            <br/>
            <br/>
        </div>
        <div>
            <label>Short Description :</label>
            <input type="text" @Html.NopEditorFor(p => p.ShortDescription)/>
            <br/>
            <br/>
        </div>
        <div>
            <label>Full Description :</label>
            <input @Html.NopEditorFor(p => p.FullDescription)/>
        </div>
        <br/>
        <br/>
        
        <div>
            <label>Is Published ?</label>
            <input @Html.NopEditorFor(p => p.Published) />
        </div>
        <br />
        <br />
        

        <input class="btn-success" type="submit" value="Save Changes"/>
    </form>
    <br/>
    <a href="/project/delete/@Model.Id"><button class="btn-danger" >Delete Project</button></a>
</div>

