﻿@model ICollection<Nop.Core.Domain.Projects.Project>
@{
    ViewBag.Title = "Index";
    Layout = "_AdminLayout";

}
<div>
    <div style="margin-left: 30px;margin-top: 10px">
        <a href="/Project/Create"><button class="btn btn-success">Create New Project</button></a>
    </div>
    <div class="data-table" >
        <table class="table-striped" style="width: 80%;margin:10px" >
            <thead>
            <tr>
                <th>Name</th>
                <th>ShortDescription</th>
                <th>Is Published :</th>
            </tr>
            </thead>
            <tbody>
            @{ 
                foreach(var item in Model)
                {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.ShortDescription</td>
                                <td>@item.Published</td>
                                <td><a href="/Project/Edit/@item.Id">Edit</a></td>

                            </tr>
                }
            }
            </tbody>
        </table>

    </div>
</div>
